# Backend-specific
backend/myenv/               # Virtual environment (only inside backend)
*.pyc                        # Python compiled files
*.pyo
backend/**/__pycache__/      # Ignore all __pycache__ folders in backend

# Node modules for frontend
frontend/node_modules/       # Node.js dependencies

# Editor and IDE files
.vscode/                     # VSCode editor settings
.idea/                       # JetBrains IDE settings

# OS-specific files
.DS_Store                    # macOS file
Thumbs.db                    # Windows file

# Log files
*.log
