# Backend-specific
backend/app/routes/__pycache__/  # Ignore __pycache__ in the routes folder
backend/app/server/__pycache__/  # Ignore __pycache__ in the server folder
backend/myenv/                   # Virtual environment (only inside backend)
*.pyc                            # Python compiled files
*.pyo
__pycache__/                     # Global Python cache

# Node modules for frontend
frontend/node_modules/           # Node.js dependencies

# Editor and IDE files
.vscode/                         # VSCode editor settings
.idea/                           # JetBrains IDE settings

# OS-specific files
.DS_Store                        # macOS file
Thumbs.db                        # Windows file

# Log files
*.log
